<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "編集する", edit_post_path(@post) %> |
  <%= link_to "一覧に戻る", posts_path %>

  <%= button_to "削除する", @post, method: :delete %>
</div>
